* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #d4af37;
    font-family: sans-serif;
}

.main {
    width: 50%;
    background: #fff;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.heading {
    font-family: "Poppins", serif;
    color: #d4af37;
    letter-spacing: 1.2px;
    font-size: 13px;
}

.field-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.field-group>label {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: center;
}

.field-group>label>p {
    font-size: 15px;
    color: #666363;
    letter-spacing: 1px;
}

#Starting-Line,
#inviter-name,
#Running-Sentence,
#Bride-Name,
#Bride-Father-Name,
#Groom-Father-Name,
#Groom-Name,
#dates,
#LawnBanquetHotel,
#adress,
#Name {
    width: 100%;
    padding: 12px 15px;
    border: 1.8px solid #d4af37;
    border-radius: 10px;
    font-size: 16px;
    color: #666363;
}

#first-radio,
#InshaAllahon,
#WillBeHeldOn,
#at,
#venue,
#RSVP,
#Awaitingtowelcome,
#LookingForward {
    display: flex;
    flex-direction: row;
    gap: 10px;
    letter-spacing: 1px;
}

.ArrivalofBarat,
.Nikkah,
.Rukhsati,
.Dinner {
    display: flex;
    gap: 5px;
    margin-top: 10px;
    align-items: center;
}

#ArrivalofBarat,
#Nikkah,
#Rukhsati,
#Dinner {
    width: 100px;
    padding: 8px 10px;
    border: 1.8px solid #d4af37;
    border-radius: 10px;
    font-size: 16px;
    color: #666363;
}

.p {
    color: #666363;
    font-size: 15px;
}

.first-radio,
.second-radio,
.third-radio,
.forth-radio {
    display: flex;
    gap: 15px;
    font-size: 14px;
    width: 350px;
    flex-wrap: wrap;
}

p {
    color: #666363;
}

.btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

#submit {
    padding: 8px 10px;
    border: 1px solid #d4af37;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: 300ms;
    font-weight: 500;
    width: 200px;
    background-color: #d4af37;
    letter-spacing: 1px;
}

#submit:hover {
    background-color: #fff;
    color: #d4af37;
}